<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});
                console.log(result);
                }
            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">
    <title>ECG Viewer</title>
</head>

<body>
    <div class="navbar">
        <h1>Electrocardiogram Viewer</h1>
    </div>
    <section class="desc">
        
        <h3>File Information</h3>
        <table style="letter-spacing: 1px">
            <tr>
                <td>&emsp;&emsp;<b>File ID :</b>&emsp;{{meta["File_ID"]}}</td>
                <td>&emsp;&emsp;<b>Recording Date :</b>&emsp;{{meta["Recording_Date"]}}</td>
            </tr>
            <tr>
                <td>&emsp;&emsp;<b>File Type :</b>&emsp;{{meta["File_Type"]}}</td>
                <td>&emsp;&emsp;<b>Recording Time :</b>&emsp;{{meta["Recording_Time"]}} HH:MM:SS</td>
            </tr>
            <tr>
                <td>&emsp;&emsp;<b>File Time :</b>&emsp;{{meta["File_Time"]}}</td>                
                <td>&emsp;&emsp;<b>Recording Duration :</b>&emsp;{{meta["Recording_Duration"]}} HH:MM:SS</td>
            </tr>
        </table>
        
        <h3 style="margin-top: 50px;">Select a time strip</h3>
        <p>The strips are of 40 seconds range.</p>
        <input id="strip" placeholder="Enter an Integer (1-{{meta['Strips']}})" type="text">
        <button id="gobutton" onclick="cb(document.getElementById('strip').value)">Go</button>
    </section>
    
    <div id="chart" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
</html>

