<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">
    <title>ECG Viewer</title>
</head>

<body>
    <div class="navbar">
        <h1>Electrocardiogram Viewer</h1>
    </div>
    <section class="desc">
        <h4>Select a time strip</h4>
        <p>The strips are of 40 seconds range.</p>
        <form class="inpArea">
            <input id="strip" placeholder="Enter an Integer (1-{{n_strips}})" type="text", name="fname">
            <button id="gobutton" onclick="cb(document.getElementById('strip').value)">Go</button>
        </form>
    </section>
    
    <div id="chart" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
</html>

